/* tags gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato" , "Sans-serif";
    text-decoration: none;
    color: #FFFFFF;

}
body {
    background-color: #120E26;
}
.container-limite {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 100px;
}
/* cabecalho */
header {
    margin: 40px auto;
}

/* adicionando limite ao cabecalho */
.container-limite-cabecalho {
    margin: auto;
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
}

/* logo */
.cabecalho-logo {
    width: 55px;
    height: 55px;
    background-color: #0693E3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cabecalho-logo p {
    font-size: 50px;
    font-weight: bolder;
    color:#120E26
}

/* links do cabecalho */
.container-limite-cabecalho .cabecalho-links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.container-limite-cabecalho .cabecalho-links a {
    color: #FFFFFF;
    font-weight: bolder;
    font-family: "Space Mono", serif;
}

/* minha apresentacao */
.section-sobre {
    display: flex;
    height: 85vh;
    align-items: center;
}

.container-apresentacao {
    padding: 0px 100px 100px 0px;
}

.container-apresentacao #apresentacao {
    line-height: 40px;
}

.container-apresentacao #Ola {
    font-size: 18px;
    color: #0993C5;
}

.container-apresentacao h1 {
    color: #FFFFFF;
    font-size: 4em;
    margin: 35px 0px
}

.container-apresentacao h2 {
    color: #0693E3;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.container-apresentacao #textinho {
    color: #A3A8C3;
    font-size: 12px;
    
}

.container-apresentacao #textinho p{
    font-family: "Space Mono", serif;
    color:#A3A8C3;
}

/* os links da apresentação */
.links-bio {
    display: flex;
    gap: 20px;
    margin-top: 10px
}

.link-bio-github a{
    padding: 10px 20px;
    border: 1px solid #0693E3;
    border-radius: 6px;
}

.link-bio-github a,
.link-bio-linkedin a{
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Space Mono", serif;
}

.link-bio-linkedin a{
    background-color: #0693E3;
    border-radius: 6px;
    padding: 10px 20px;
}


/* sobre mim - biografia*/

/* linha abaixo do "sobre mim" */
.sobre-mim-text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #0993C5;
    margin-bottom: 20px;
}

.fa-solid, .sobre-mim div h3, .section-projetos h3 {
    padding-bottom: 10px;
    margin-top: 30px
}

/* text do sobre mim */
.text-bio {
    line-height: 22px;
    font-size: 17px;
}
 .text-bio span {
    color:#0693E3;
    font-weight: 600;
}

/* secao de habilidade */
.secao-habilidades {
    margin-top: 20px;
}

.habilidades-cards {
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.habilidades-cards svg {
    width: 30px
}

/* seção dos projetos */
.section-projetos {
    margin-top: 40px;
}

.secao-projetos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}

.card-projeto {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-projeto .img-card-projeto img {
    width: 550px;
}

.text-card-projeto {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    text-align: left;
    padding: 20px;
}

.text-card-projeto h2 {
    color:#0993C5
}

.text-card-projeto p {
    line-height: 25px;
    font-size: 17px;
}

/* links dos cards do projeto */
.card-projeto .links-projeto {
    display: flex;
    gap: 30px;
}

.card-projeto .links-projeto div a {
    padding: 15px 20px;
    border: 1px solid #0693E3;
    border-radius: 10px;
}

.card-projeto .links-projeto div i {
    padding-left: 10px;
}

/* rodapé */
footer {
    margin: 30px 0px 0px;
    text-align: center;
    background-color:#0993C5;
    padding: 20px 0px
}

footer span {
    font-weight: 800;
    font-style: italic;
}