/* tags gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato" , "Sans-serif";
    text-decoration: none;

}
body {
    background-color: #120E26;
}
.container-limite {
    max-width: 1280px;
    margin: 0 auto;
}
/* cabecalho */
header {
    margin: 50px auto;
}

/* adicionando limite ao cabecalho */
.container-limite-cabecalho {
    margin: auto;
    max-width: 1480px;
    display: flex;
    justify-content: space-around;
    
}

/* links do cabecalho */
.container-limite-cabecalho .cabecalho-links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.container-limite-cabecalho .cabecalho-links a {
    color: #FFFFFF;
    font-weight: bolder;
    font-family: "Space Mono", serif;
}

/* minha apresentacao */
.section-sobre {
    height: 40vw;
    display: flex;
    align-items: center;
}

.container-apresentacao {
    padding: 100px;
}

.container-apresentacao #apresentacao {
    line-height: 40px;
}

.container-apresentacao #Ola {
    font-size: 18px;
    color: #0993C5;
}

.container-apresentacao h1 {
    color: #FFFFFF;
    font-size: 4em;
    margin: 35px 0px
}

.container-apresentacao h2 {
    color: #0693E3;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.container-apresentacao #textinho {
    color: #A3A8C3;
    font-size: 12px;
    
}

.container-apresentacao #textinho p{
    font-family: "Space Mono", serif;
}
/* os links da apresentação */
.links-bio {
    display: flex;
    gap: 20px;
}

.link-bio-github {
    padding: 10px 20px;
    border: 1px solid #0693E3;
    border-radius: 6px;
}

.link-bio-github a,
.link-bio-linkedin a{
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Space Mono", serif;
}

.link-bio-linkedin {
    background-color: #0693E3;
    border-radius: 6px;
    padding: 10px 20px;
}
